//
//  Credential.h
//  OnigiriAlert
//
//  Created by Hiroyuki Onishi on 2/12/14.
//  Copyright (c) 2014 Hiroyuki Onishi. All rights reserved.
//

#ifndef OnigiriAlert_Credential_h
#define OnigiriAlert_Credential_h

#define PARSE_APPLICATION_ID    @""
#define PARSE_CLIENT_KEY        @""

#define TARGET_USER             @""

#endif
