//
//  Credential.h
//  OnigiriAlert
//
//  Created by Hiroyuki Onishi on 2/12/14.
//  Copyright (c) 2014 Hiroyuki Onishi. All rights reserved.
//

#ifndef OnigiriAlert_Credential_h
#define OnigiriAlert_Credential_h

#ifdef DEBUG
#define PARSE_APPLICATION_ID    @""
#define PARSE_CLIENT_KEY        @""
#else
#define PARSE_APPLICATION_ID    @""
#define PARSE_CLIENT_KEY        @""
#endif

#define TARGET_USER             @""
#define APP_ABOUT_SITE_URL      @""

#endif
